section#about
  .section-container
    h2.section-heading About Us
    hr
    .two-col-content 
      .img-container 
        img(src="https://img1.wsimg.com/isteam/ip/bf4e896a-a430-4b8b-bd5c-37d458d87291/Hank%20and%20Hazels%20images%20for%20website-0001.PNG/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:600,h:300,cg:true", alt="test")
      .aboutus-desc 
        h3 Hank and Hazel's Really Good Sausages 
        p.
          Hank #{'&'} Hazel's Really Good Sausages serves quality sausages made with quality ingredients.  
          <br>
          <br>
          Hi, I'm Andy.  Originally, my wife and I set-out to open a butcher shop serving locally sourced quality   meats and sausages.
          I left the security of my corporate job and headed to New York as a butcher's apprentice.
          I spent the next few years sharpening my skills, including butchering animals for our family to eat and
          even helping a friend open a butcher shop in Michigan.
          <br>
          <br>
          Throughout the journey I realized something important.  I love good sausage.  As a wise man once said,  "I never met a sausage I didn't like."  After realizing my love of quality authentic sausages I decided  selling sausages would be a great way to  have fun and share my love of sausages with our community!  I  seek out the best producers of quality sausages made from quality ingredients.  
          <br>
          <br>
          All of our sausages are served on a fresh baked brioche bun from Pure Grain Bakery in Vacaville.    Condiments include sauerkraut, onions, homemade spicy beer mustard, homemade pickled onions , and more!
          <br>
          <br>
          Hank & Hazel's Sausage Stand is located at 501 Merchant Street in downtown Vacaville.  Hank & Hazel's   also operates a seasonal sausage cart that  sets-up at special events in and around Vacaville, CA.    Keep your eyes open for our delicious sausages!
          <br>
          <br>
          Note: Check out our Facebook page for more information!!
      