doctype html  
head
  link(rel="stylesheet", href="style.css")
body
  nav
    div Home
    div About
    div Menu
    div Cart Calendar
    div Contact Us
    div#order-btn Order Online
  main 
    include intro.pug
    include menu.pug
    include about.pug
    include cta.pug

  footer  

