section#intro     
  .hero-bg-container
    
    h1.slide-in-left Welcome to
    .hero-outer-container
      .hero-inner-container 
        .img-circle-container
          img(src="images/logo.webp", alt="")
    h1.slide-in-right Solano's Favorite Sausage Cart and Stand
    .hero-info-container
      p 501 Merchant Street, Vacaville, CA<br>(707) 514-7064
      p OPEN TUESDAY - SATURDAY 11AM-8PM<br>CLOSED SUNDAY & MONDAY
    
        