section#menu
  h2.section-heading Sausage Offerings - Menu Changes Daily
  p.section-sub-heading Menu will feature 3 to 4 sausages from the following list and changes daily.
  hr.section-hr
  div.menu-container
    .menu-group
      h3 Chicken Sausages

      .menu-item 
        h4 Cilantro Chicken w/ Jalapeno & Onions
        p This chicken sausage is juicy and tender, and filled with all the perfect salsa flavors. 
      .menu-item 
        h4 *Chicken w/ Pepperjack Cheese & Jalapeno
        p Our Chicken Pepper Jack Jalapeno is bursting with juicy flavor, this medium spicy sausage has just the right amount of heat.
      .menu-item 
        h4 *Florentine Chicken 
        p  With Feta cheese, Spinach, onions, and sun-dried tomatoes.
    .menu-group 
      h3 Pork Sausages
      .menu-item 
        h4 Smoked Andouille 
        p Spicy smoked sausage with heavy Cajun spice.
      .menu-item  
        h4 Hungarian Debreziner
        p Heavily spiced smoked Hungarian style pork sausage in a sheep casing.   
      .menu-item
        h4 *German White Bratwurst 
        p Bratwurst seasoned with white pepper, ginger, and nutmeg resulting in an old-world authentic taste.  
      .menu-item
        h4 **Irish Banger  
        p Irish-style pork sausage with bread inside the cased sausage. The texture of the sausage is a little softer than many of our other sausages.    
      .menu-item
        h4 *Kasekrainer  
        p Traditional Austrian street sausage loaded with Emmenthaler cheese and smoked over apple wood. Delicious with Sauerkraut and mustard.   
      .menu-item
        h4 Spicy Italian  
        p Italian pork sausage with a slight spice and strong fennel flavor.   
      .menu-item
        h4 *Smoked Stone IPA Bratwurst  
        p Smoked Classic Midwestern-style Bratwurst featuring IPA beer from Stone Brewing in San Diego.  
      .menu-item
        h4 *Smoked Chorizo  
        p Basque-inspired, Spanish style, smoked chorizo is made with the finest pork cuts, pimenton, and fresh garlic.   
    .menu-group 
      h3 Pork and Veal Sausages
      .menu-item 
        h4 *Nurnberger-Syle Bratwurst
        p Traditional pork and veal sausage that is ground semi-fine with coarse chunks of pork to provide a great bite. Mildly flavored and delicate.
        h4 *Swiss Bockwurst (Weisswust)
        p Traditional pork and veal sausage made with parsley and ground fine. It has a very delicate texture and flavor. 
    .menu-group 
      h3 Pork and Beef Sausages
      .menu-item 
        h4 *Jalepeno Cheddarwurst 
        p Made with fresh Jalapeño peppers and sharp cheddar cheese that has the perfect amount of spicy, creamy, cheesiness. 
        h4 Smoked Polish 
        p Classic Polish sausage with a well-balanced garlic/paprika/black pepper flavor profile.  
        h4 *Smoked Wisconsin Cheddar Bratwurst  
        p This sausage is a coarse mixture of pork and beef blended with chunks of cheddar cheese for that true Mid-Western Cheddar Brat flavor.  
        h4 Hungarian Kolbasa  
        p Traditional coarse ground Hungarian style sausage with a slightly spicy paprika flavor and garlic notes, made from pork and beef.  
        h4 Cajun Hot Link  
        p Spicy, smoked beef & pork sausage seasoned with cayenne pepper and paprika. 
    .menu-group
      h3 Beef Sausages 
      .menu-item 
        h4 *Smoked Beef
        p Smokey, beefy, and black peppery. Reminds us of something you would find in a smokehouse down in Texas.    
    .menu-group 
      h3 Vegetarian Sausages
      .menu-item 
        h4 Beyond Meat - Hot Italian 
        p Vegan hot italian sausage made with pea proteins.  Please note, our bun is not vegan.  
        h4 Beyond Meat - Bratwurst
        p Vegan Bratwurst made with pea proteins.  Please note, our bun is not vegan.   
    .menu-group
      h3 Hot Dog Menu
      .menu-item 
        h4 Stadium Dog 
        p Classic American all-beef stadium hot dog! 1/4lb skinless dog, plump and juicy.  
        h4 *Frankfurter 
        p Foot-long, snappy frankfurter smoked with hickory and apple wood.  
        h4 Louisiana Spicy Dog 
        p This very spicy 1/4lb skinless beef dog is seasoned with jalapeno puree and cayenne pepper.   
    .menu-group
      h3 Side Dishes
      .menu-item 
          h4 Cole Slaw 
          p House-made fresh coleslaw prepared fresh throughout the day. 
          h4 Potato Salad 
          p House-made American-style potato salad made from Sarah's mom's recipe.   
          h4 Soft Pretzel 
          p Fresh baked soft pretzels that we will warm up on the grill.  Served with our house-made spicy beer mustard upon request. 
          h4 Chips 
          p We offer many flavors of Dirty's Potato Chips including Jalapeno, Sea Salt, Funky Fusion, Maui Onion, Salt & Vinegar, Mesquite BBQ and more! 
    .menu-group
      h3 Drinks
      .menu-item 
          h4 Beer 
          p We feature craft beer on tap and in cans from various breweries.  Stop in to see what the current offerings are! 
          h4 Wine 
          p We offer several white and red options for wine drinkers. 
          h4 Sodas & Bottled Drinks 
          p We offer bottled water, bottled unsweetened tea, topo chico, and bottled coke.  We also have fountain Coke, Diet Coke, and Sprite.
    .menu-group
      h3 Desserts
      .menu-item 
          h4 Do Good Chocolate Chip Cookie
          p This classic chocolate chip cookie is made for us by the residents at Opportunity House Homeless Shelter. 
          h4 The Alchemy Cookie
          p We offer a cookie from Alchemy Bakehouse which changes weekly.  These cookies are incredible and huge (over 1/4 lb.)! 
          h4 Dolly Farms Hand Pies 
          p A hand pie is a small pie about the size of your hand, that you eat with your hands, not on a plate.  These pies are made here in Vacaville and baked fresh daily!  Flavors change throughout the week.
  .menu-info
    p *Contains Dairy<br>**Contains Gluten and Dairy