@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  background-color: beige;
  width: 100%;
}

body {
  min-height: 100vh;
  width: inherit;
  /*  background:
  url('https://images.unsplash.com/photo-1571302703929-6209091a75fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1567&q=80')
  top / cover
  no-repeat
  ; */
  font-family: Lato, arial, sans-serif;
  overflow-x: hidden;
}

nav {
  height: 60px;
  background-color: #f1a254;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 5px solid #4d4c51;
  font-size: 18px;
  text-transform: uppercase;
  z-index: 100;
}

nav div {
  margin: 0 20px;
  padding: 0.5em 1em;
}

main {
  width: inherit;
}

section {
  width: inherit;
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-heading {
  font-size: 28px;
  margin-bottom: 0.5em;
  color: #161616;
}

.section-sub-heading {
  font-family: "Merriweather", serif;
}

.section-hr {
  margin-top: 0.5em;
}

.hero-container {
  flex: 1;
  display: flex;
  /*   align-items: center; */
  justify-content: center;
  background-color: black;
  padding: 1em 0;
}

.hero-bg-container h1 {
  color: white;
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
}

.container-logo {
  /* height: 100%; */
  width: 100%;
  flex: 1 0 auto;
  padding: 1em;
  background-color: #71cdda;
  /*  border-radius: 20px; */
  /*   height: 100%; */
}

.container-logo2 {
  /*   height: 100%; */
  background-color: white;
  /* border-radius: inherit; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  width: auto;
  max-height: 400px;
  align-self: center;
  border-radius: 20px;
  /* margin-top: 100px; */
  /*   border-radius: inherit; */
}

.logo-outer-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.order-btn-container {
  padding: 3em;
}

.order-btn-container button {
  background-color: #71cdda;
  height: 50px;
  width: 125x;
}

#intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.hero-bg-container {
  background: url(https://images.unsplash.com/photo-1569656048753-1ece52ee0eb1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80) center/cover no-repeat fixed;
  /* flex: 1.5; */
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.hero-bg-container h1 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 0 0 10px black;
}

.hero-outer-container {
  height: 625px;
  width: 625px;
  background-color: #4d4c51;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

#order-btn {
  background-color: #353535;
  color: #f1a254;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.img-circle-container {
  background-color: white;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  position: relative;
}

.img-circle-container img {
  width: 87%;
  height: auto;
  align-self: center;
  border-radius: 50px;
  margin-bottom: 1em;
}

.hero-info-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em;
  text-align: center;
}

.hero-info-container p {
  margin-left: 2em;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2021-7-17 18:0:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
#about {
  background-color: #161616;
  height: 600px;
  color: #a4a4a4;
}

.two-col-content {
  display: flex;
}

#menu {
  max-width: 1200px;
  margin: 5em auto;
  padding: 2em 2em;
  border: 10px solid #2e2c2c;
  border-radius: 5px;
  background-color: #f0f0dc;
  /* Subjective af apparently, just slightly off beige */
}

.menu-container {
  margin: 0 auto;
  column-count: 2;
}

.menu-group {
  width: 100%;
  margin: 2em 0;
  break-inside: avoid;
  display: inline-block;
}

.menu-item {
  margin: 1em;
}

.menu-item h4 {
  margin: 0.5em 0;
}

.menu-item p {
  max-width: 530px;
}

.menu-info {
  text-align: center;
}

#cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
