.hero-container {
  flex: 1;
  display: flex;
  /*   align-items: center; */
  justify-content: center;
  background-color: black;
  padding: 1em 0;
}



.hero-bg-container h1 {
  color: white;
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
}

.container-logo {
  /* height: 100%; */
  width: 100%;
  flex: 1 0 auto;
  padding: 1em;
  background-color: rgb(113, 205, 218);
  /*  border-radius: 20px; */
  /*   height: 100%; */
}

.container-logo2 {
  /*   height: 100%; */
  background-color: white;
  /* border-radius: inherit; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#logo {
  width: auto;
  max-height: 400px;
  align-self: center;
  border-radius: 20px;
  /* margin-top: 100px; */
  /*   border-radius: inherit; */
}


.logo-outer-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.order-btn-container {
  padding: 3em;
}

.order-btn-container button {
  background-color: rgb(113, 205, 218);
  height: 50px;
  width: 125x;
}




#intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.hero-bg-container {
  background: url(https://images.unsplash.com/photo-1569656048753-1ece52ee0eb1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80) center / cover no-repeat fixed;
  /* flex: 1.5; */
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.hero-bg-container h1 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 0 0 10px black;
}

.hero-content-container {}

.hero-outer-container {
  height: 625px;
  width: 625px;
  background-color: #4d4c51;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}





#order-btn {
  background-color: #353535;

  color: #f1a254;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}


.hero-inner-container {}

.img-circle-container {
  background-color: white;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  position: relative;
}

.img-circle-container img {
  width: 87%;
  height: auto;
  align-self: center;
  border-radius: 50px;
  margin-bottom: 1em;
}

.hero-info-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.400);
  padding: 1em;
  text-align: center;
}

.hero-info-container p {
  margin-left: 2em;
}


.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-17 18:0:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}